body {
  margin: 0;
  padding: 0;
  background: #800000;
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background: Yellow;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 400px;

  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
  padding: 10px 20px;
  border: none;
  background: blue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#fact {
  margin-top: 20px;
  font-size: 18px;
}